@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@200;300&display=swap');
.kain{
  font-family: 'Kanit', sans-serif;
}

li{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#main1{
  font-size: 3rem;
  font-weight: 900;
  
}


#bibi{
  background-image: url("bibiji (1).png") ;
}
.r{
  border-radius: 50%;
  border: 1px solid black;
}
.s{
  border: 1px solid black;
}

li:hover{
  text-decoration: underline;
  text-underline-offset: 0.4rem ;

}
#nav{
  transition: 300ms;
}

#register{
  font-family: 'Poppins', sans-serif;
}
.reg input{
  border-radius: 5px;
  box-shadow: 100px;
  outline: none;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  width: 80%;
  border: 1px solid gray;
  font-weight: 800;

  
}
.reg button{
  border-radius: 5px;
  box-shadow: 100px;
  outline: none;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  /* border: 1px solid black; */
  
}

